<div class="container">
    <h1>Angular</h1>

    <app-palette></app-palette>

    <app-togglebox title="Titre box 1">
        <p>Ici le contenu de ma box 1</p>
    </app-togglebox>

    <app-togglebox title="Titre box 2" [state]="false">
        <p>Ici le contenu de ma box 2</p>
    </app-togglebox>

    <app-textcounter (toto)="getText($event)" max="140"></app-textcounter>

    <app-comments [items]="comments"></app-comments>

    <!-- <app-hello></app-hello> -->
    <!-- <div class="app-hello"></div>
    <div app-hello></div> -->
</div>