<div class="text-counter">
    <textarea [(ngModel)]="content"
              [class]="content.length === maxLength ? 'text-counter-error' : ''"
              class="form-control text-counter-input"
              [maxlength]="maxLength"
              placeholder="Saisissez votre texte..."></textarea>

    <div class="d-flex">
        <button class="btn btn-sm btn-primary" [disabled]="content.length < 1" (click)="onSend()">Envoyer</button>
        <div class="ml-auto text-counter-result">{{ content.length }}/{{ maxLength }}</div>
    </div>
</div>
