<div class="notification notification-level-danger">
    <p class="notification-message">Message</p>
    <div class="notification-close">X</div>
</div>

<div class="notification notification-level-success">
    <p class="notification-message">Message</p>
    <div class="notification-close">X</div>
</div>

<div class="notification notification-level-info">
    <p class="notification-message">Message</p>
    <div class="notification-close">X</div>
</div>

<div class="notification notification-level-warn">
    <p class="notification-message">Message</p>
    <div class="notification-close">X</div>
</div>
